#home .main-heading {
  font-size: 3em;
  font-weight: 500;
}

#home .sub-heading {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
}

#home .sub-sub-heading {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1.2rem 0;
}

#home .paragraph {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1.2rem 0;
}

#home .mini-paragraph {
  font-size: 1rem;
  font-weight: 400;
  margin: 1.2rem 0;
}

#home #searchdiv {
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.5); 
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.25);
}

#home .custom-card {
  height: 200px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.25); 
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.25);
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-weight: 800;
  font-size: 1.2rem;
}

#home a {
  color: initial;
}

#how-it-works .card {
  padding: 1rem;
}

#customers-review .card {
  margin: 1rem 2rem;
}

#customers-review .slick-prev:before, #customers-review .slick-next:before {
  color: black;
}

/* For Mobile*/
@media only screen and (max-width: 601px) {
  #home .main-heading {
    font-size: 2rem;
  }

  #home .sub-heading {
    font-size: 1.5rem;
  }
}