#landing {
  margin-top: 10em;
}

.baricon {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.baricon.active {
  
}

.line_progress {
  display: inline-block;
  width: calc((100% - 36px) / 2);
  height: 6px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

#sell_progress_bar {
  height: 50px;
  width: 80%;
  margin: auto;
}

.progressbar_info {
  width: 100%;
  height: 100px;
  padding: 0 6px;
}

.progressbar_info span {
  display: inline-block;
  width: 20%;
  text-align: center;
}

.progressbar_info span span {
  width: 100%;
}

#progress_1:before {
  content: "";
  position: absolute;
  left: 0%;
  top: -1px;
  width: var(--sell-progress);
  border-top: 1px solid #ff9980;
  z-index: 9;
  transition: all 0.5s linear;
}

.sell_phone_heading p {
  font-size: 2em;
  font-weight: 750;
}

.gridlist_root {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: hidden;
}

.gridlist {
  width: 100%;
  max-height: 312px;
}

.selection {
  margin-top: 50px;
}

.selection button {
  width: 100%;
}
