.navbar_components {
  font-weight: 500;
}

.navbar-container-width {
  padding: 0 5rem;
  height: 100%;
}

nav ul a {
  position: relative;
}

nav ul a:before {
  content: '';
  position: absolute;
  top: 100%;
  width: 0;
  left: 50%;
  border-bottom: 1px solid red;
  transition: all 0.5s linear;
}

nav ul a:hover {
  background-color: inherit;
}

nav ul a:hover::before {
  width: 100%;
  left: 0;
}
