.navbar_components {
  font-weight: 500;
}

.navbar-container-width {
  padding: 0 5rem;
  height: 100%;
}

/*nav ul li span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  height: 100%;
  margin: 0 1rem;
}

nav ul li span:before {
  content: "";
  position: absolute;
  top: 100%;
  width: 0;
  left: 50%;
  border-bottom: 1px solid red;
  transition: all 0.5s linear;
}

nav ul li span:hover {
  background-color: inherit;
}

nav ul li span:hover::before {
  width: 100%;
  left: 0;
}*/

nav ul li a {
  cursor: pointer;
  display: inline-block;
  position: relative;
  height: 100%;
  /*margin: 0 1rem;*/
}

nav ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  width: 0;
  left: 50%;
  border-bottom: 1px solid red;
  transition: all 0.5s linear;
}

nav ul li a:hover {
  background-color: inherit;
}

nav ul li a:hover::before {
  width: 100%;
  left: 0;
}
